* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Russo One", sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  min-height: 100vh;
  min-width: 100vw;
  background-color: greenyellow;
}

.space {
  grid-column: 1/2;
  grid-row: 1/4;
}

.enter {
  grid-row: 4/5;
  font-size: 3.5rem;
  background-color: #014c81;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signs {
  grid-row: 5/6;
  background-color: #38a2e8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.third {
  grid-row: 6/7;
  background-color: #2196f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.second {
  grid-row: 7/8;
  background-color: #2196f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first {
  grid-row: 8/9;
  background-color: #2196f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#multiply,
#divide,
#plus,
#reduce,
#eight,
#nine,
#back,
#cancel,
#four,
#five,
#six,
#seven,
#zero,
#one,
#two,
#three {
  height: 5rem;
  width: 5rem;
}